.btn-box{
    display: flex;
    justify-content: center;
}

.btn {
    width: 60px;
    height: 30px;
    margin: 5px;
    font-size: 18px;
}

.input-box{
    margin: 10px auto 0;
    width: 300px;
}

