.button{
    width: 60px;
    height: 30px;
    margin-right: 10px;
    padding: 0;
    text-align: center;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 5px;
}

